.title {
  display: flex;
  align-items: center;
  background-color: #eee;
  font-weight: 700;
  height: 80px;
  padding: 0 40px;
  font-size: 24px;
  margin-bottom: 30px
}

.code-source {
  padding: 0 40px;
}

.row {
  padding: 0 40px;
}

.row h4 {
  font-weight: bold;
}

ol {
  margin: 0;
  padding: 0;
}

ol li {
  list-style: none;
}

ol li + li {
  margin-top: 5px;
}

.row div {
  padding-left: 20px;
}

.row + .row {
  margin-top: 30px;
}